nav{
    padding: 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#55566B,#eeecec,#eeecec);
    margin-right: 8vw;
    margin-left: 8vw;
    border-radius: 6vw;
    margin: 0vw;
}
.logo{
    font-size: 2vw;
    font-family: lemon milk;
    color:#556B6A;
   margin-left: 3vw;
}
nav ul{
    margin: 0vw;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 5vw;
}
nav ul li a{
    text-decoration: none;
    color:#6B5F55;
    font-size: 1.55vw;
    font-family: lemon milk;
    font-style: bold;   
}
.heading{
    font-family: ledger ;
    font-size: 3.5vw;
    margin: 0vw;
    color: #556B6A;
    text-align: center;
    background-image: url(img/circle.gif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:20vw ;
<<<<<<< HEAD
}
.heaaddown{
    font-family: ledger;
    font-size: 1.75vw;
=======
   
}
.heaaddown{
    font-family: ledger;
    font-size: 2vw;
>>>>>>> f4164fb774f5759863495b6654316072c015bddb
    text-align: center;
    margin-top: -2vw;
    color:#6B5F55;
    display: block;
<<<<<<< HEAD
}
.heaaddown p1 {
    font-size:2.95vw;   
=======
   
}
.heaaddown p1 {
    font-size:4vw;
    
>>>>>>> f4164fb774f5759863495b6654316072c015bddb
}
.heaaddown p1::before,
.heaaddown p1::after {
  content: '';
  display: inline-block;
<<<<<<< HEAD
  width: 5vw; 
  height: 0.25vw; 
  background-color: #6e6e6e; 
 
}
=======
  width: 50px; 
  height: 3px; 
  background-color: #6e6e6e; 
 
}

>>>>>>> f4164fb774f5759863495b6654316072c015bddb
.mmedia{
    margin-top: 5vw;
    flex-direction: row;
    justify-content: space-evenly;
<<<<<<< HEAD
    display: flex;   
=======
    display: flex;
    
>>>>>>> f4164fb774f5759863495b6654316072c015bddb
}
.mmedia a img {
    width: 4vw;
    height: auto;
}
.mmedia a:hover img {
<<<<<<< HEAD
    pointer-events: painted;
=======
>>>>>>> f4164fb774f5759863495b6654316072c015bddb
    width: 6vw;
    height: auto;
    
}
.line {
    align-items: center;
<<<<<<< HEAD
    margin-top: 8vw;
=======
    margin-top: 10vw;
>>>>>>> f4164fb774f5759863495b6654316072c015bddb
  height: 0.7vw;
  width: 98vw;
  background-color: #D9D9D9;
}
<<<<<<< HEAD
.mywork h1{
    font-family: ledger;
    font-size: 5vw;
    text-align: center;
    color:#6B5F55;
    display: block;
}
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    padding: 2vw;
    font-size: 3vw;
    color: rgb(161, 157, 157);
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 10vw;
        background-image:linear-gradient(#55566B,#eeecec,#eeecec,#eeecec);
        opacity: 0.5;
        position: fixed;
        top: 7vw;
        padding:1vw ;
        right: 2vw;
        border-radius: 2vw;
        align-items: start;
        text-wrap: nowrap;       
    }
    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 0.1vw 0;
        border-bottom : 0.1vw solid #000000;
    }

    .menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
=======



>>>>>>> f4164fb774f5759863495b6654316072c015bddb
