
    nav{
    padding: 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#55566B,#eeecec,#eeecec);
    margin-right: 8vw;
    margin-left: 8vw;
    border-radius: 6vw;
    margin: 0vw;
}
.logo{
    font-size: 2vw;
    font-family: lemon milk;
    color:#556B6A;
   margin-left: 3vw;
}
nav ul{
    margin: 0vw;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 5vw;
}
nav ul li a{
    color:#556B6A;
    font-size: 1.55vw;
    font-family: lemon milk;
    font-style: bold;  
    text-decoration: none; 
}
nav ul li a:hover {
    color: #fff; 
    background-color: #556B6A; 
    border-radius: 6vw; 
    padding: 0.5vw; 
}
@media only screen and (max-width: 768px) {
    .menu-icon {
      display: block;
      font-size: 2vw;
      cursor: pointer;
    }
    .nav-links {
      display: none;
    }
    .menu-toggle:checked + .nav-links {
      display: block;
    }
  }
/* @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column; 
    }
    nav ul {
      margin-top: 2vw; 
    }
    nav ul li {
      margin-right: 0vw;
    }
    nav ul li a {
      font-size: 2vw; 
    }
  } */
.heading {
    width: 100vw;
    height: 20vw;
    text-align: center;
     background-image: url('img/circle.gif');
    background-repeat: no-repeat; 
    background-position:center;
    animation: back 5s infinite alternate; */
  }

  @keyframes back {
    0% {
        background-size: 0;
    }

    50%,100% {
        background-size: 20vw;
    }
  }
  .heading text {
    
    font-size: 7vw;
    font-family: 'Ledger';
    animation: stroke 5s infinite alternate;
  }
  @keyframes stroke {
    0% {
        fill: rgb(85, 107, 106,0);
      stroke: #016d68;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 1;
    }
    20% {
        fill: rgb(85, 107, 106,0);
      stroke:#30827e;
      stroke-width: 0.5;
    }
    40% {
        fill: rgb(85, 107, 106,0);
      stroke: #437472;
      stroke-width: 0.3vw;
    }
    60% {
     
      fill: #556B6A;;
      stroke: #556B6A;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0vw;
    }
    100%{
        fill: #556B6A;
    }
  }
.heading h1{
    margin: 0%;
}
.heaaddown{
    font-family: ledger;
    font-size: 1.75vw;
    text-align: center;
    color:#6B5F55;
    display: block;
    
    padding: 2.5%;
}
.heaaddown p1 {
    font-size:2.95vw;   
}
.heaaddown p1::before,
.heaaddown p1::after {
  content: '';
  display: inline-block;
  width: 5vw; 
  height: 0.25vw; 
  background-color: #6e6e6e; 
 
}
.mmedia{
    margin-top: 5vw;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;   
}
.mmedia a img {
    width: 4vw;
    height: auto;
}
.mmedia a:hover img {
    width: 6vw;
    height: auto;
    position:absolute ;
}
.line {
    align-items: center;
    margin-top: 8vw;
    height: 0.7vw;
    width: 98vw;
    background-color: #D9D9D9;
}

.mywork h1{
    font-family: ledger;
    font-size: 5vw;
    text-align: center;
    color:#6B5F55;
    display: block;
}
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    padding: 2vw;
    font-size: 3vw;
    color: rgb(161, 157, 157);
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 10vw;
        background-image:linear-gradient(#55566B,#eeecec,#eeecec,#eeecec);
        opacity: 0.5;
        position: fixed;
        top: 7vw;
        padding:1vw ;
        right: 2vw;
        border-radius: 2vw;
        align-items: start;
        text-wrap: nowrap;       
    }
    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 0.1vw 0;
        border-bottom : 0.1vw solid #000000;
    }

    .menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
.myworkimgmain{
    background-color: rgb(150, 148, 148,);
            width: 100vw;
            height: 95vw;
}

.myworkimg{
    padding: 5vw;
    width: 40vw;
    height: auto;
    float:inline-start;
}
.myworkimg img {
    width: 40vw;
    height: auto
}
